.speakers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.speakers img {
  float: left;
  margin-right: 20px;
}

.article {
  flex: 1;
}

.guest-speakers {
  flex: 0 0 300px;  /* Fixed width for guest speakers */
}